body{
    background-color: #e7e7e7;
}
nav{
    background-color: rgb(255, 255, 255);
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px 0;
    color: #ffffff;
}
ul li a{
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(12, 12, 12);
}
.cart img{
    width: 300px;
    height: 200px;
}
.cart p{
    width: 300px;
    font-family: sans-serif;
}
.cart h3 a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.cart{
    width: 300px;
}
.box{
    padding: 50px;
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
